<div>
  <div>
    <h1>Movimientos del mes: <b><%= l(@tiempo, locale: :es) %></b></h1>
    <hr>
    <% if @ingresos < @gastos %>
      <div class="alert alert-danger alert-dismissable pt-1" style="border: 1px solid red">
        <h2>Algo anda mal ☹️, ¿Quieres revisar tus movimientos? <%= link_to "SI", transactions_path, class:"btn btn-success" %> </h2>
      </div>
      <% else %>
      <h2> Resultado del mes</h2>
    <% end %>
    <%= column_chart [
      { name: "Ingresos",
        data: @ingresos_mes_actual,
        stack: "stack 1"
      },
      { name: "Gastos",
        data: @gastos_mes_actual,
        stack: "stack 2"
      },
      # { name: "Resultado",
      #   data: Transaction.where(type_transaction: 0).group_by_month(:date_transaction, format: "%m-%Y").sum(:mount),
      #   stack: "stack 3"
      # }
    ],
    colors: ["#109618", "#c53434", '#3086d6'], prefix: "$", thousands: ",", empty: "No hay datos", stacked: true %>
    <hr>
    <h4>Gastos según tipo de clasificación</h4>
    <%= pie_chart @tipos_gastos_mes_actual, label: "Monto", donut: true, prefix: "$", thousands: ",", empty: "No hay datos" %>
    <hr>
    <h2> Resultado de los últimos 12 meses</h2>
    <%= column_chart [
      { name: "Ingresos",
        data: @ingresos_ultimos_meses,
        stack: "stack 1"
      },
      { name: "Gastos",
        data: @gastos_ultimos_meses,
        stack: "stack 2"
      }
    ],
    colors: ["#109618", "#c53434", '#3086d6'], prefix: "$", thousands: ",", empty: "No hay datos", stacked: true %>
  </div>
  <hr>
<div>