<div>
  <h1 style="text-align: center">Gráficos de barra</h1>

  <hr>

  <div>
    <h2>Mis ingresos en el mes <b><%= @tiempo.strftime('%B-%Y') %></b></h2>
    <%= column_chart @ingresos_mes_actual, colors: ["#109618"] %>
    <hr>
    <h2>Mis gastos en el mes <b><%= @tiempo.strftime('%B-%Y') %></b></h2>
    <%= column_chart @gastos_mes_actual, colors: ["#c53434"] %>
  </div>

  <div>
    <h2>Mis ingresos en los últimos 12 meses</h2>
    <%= column_chart @ingresos_ultimos_meses, colors: ["#109618"] %>
  </div>
<div>