<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="login text-center pt-2">
    <h2>Registrarse</h2>

    <div class="form-group">
      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email, "Correo electrónico" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Contraseña" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caractéres mínimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Repite la contraseña" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :avatar, "Avatar (Opcional)" %>
      <%= f.file_field :avatar, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Registrar", class: "btn btn-success", style:"border: 1px solid black" %>
    </div>

  </div>
<% end %>
  <div class="text-center pt-5">
    <h6>¿Ya tienes una cuenta?</h6><%= link_to 'Inicia sesión', new_user_session_path, class: "btn btn-primary", style:"border: 1px solid black" %>
  </div>
<%#= render "devise/shared/links" %>
