<h1>Editando Usuario: <%= "#{@user.name}" %></h1>

<%= form_with(model: @user, remote: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :rating %>
    <%= form.select :rating, @ratings, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit "Update", class: "btn btn-success" %> | <%= link_to 'Cancel', cancel_path(@user), remote: true, class: "btn btn-warning" %>
  </div>
<% end %>