<%= form_with(model: @user, remote: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <b><%= form.label :name, "Nombre" %></b>
    <%= form.text_field :name, placeholder: "Ingresa un Título", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Actualizar", class: "btn btn-success" %> | <%= link_to 'Cancelar', cancel_path(@user), remote: true, class: "btn btn-warning" %>
  </div>
<% end %>