<p id="notice"><%= notice %></p>

<div id="form"></div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Housing Actives</th>
      <th>Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr id="user-<%= @user.id %>">
      <td><%= @user.name %> | <%= link_to 'Edit', edit_user_path(@user), remote: true %> </td>
      <td><%= @user.role %></td>
      <td>
        <% @housings_actives.each do |housing| %>
          <ul>
            <li><%= housing.name %> </li>
          </ul>
        <% end %>
      </td>
      <td>members | <%= link_to 'Edit', edit_user_path(@user), remote: true %></td>
    </tr>
  </tbody>

</table>

<h3>Housing Inactives</h3>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Inactive at</th>
    </tr>
  </thead>

  <tbody>
    <% @housings_inactives.each do |housing| %>
      <tr>
        <td> <%= housing.name %> </td>
        <td> <%= housing.inactive_at %> </td>
      </tr>
    <% end %>
  </tbody>

</table>