<div id="form-edit-user"></div>

<div>
  <% if @user.avatar.nil? %>
    <li class="img-avatar"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/></svg>
    </li>
    <% elsif @user.image.nil? %>
      <li class="img-avatar"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"/></svg>
    </li>
    <% else %>
    <li class="img-avatar"><%= image_tag @user.image %></li>
  <% end %>
  <li id="user-<%= @user.id %>"> <b>Nombre:</b> <%= @user.name %></li>
  <li> <b>Email:</b> <%= @user.email %></li>
  <li> <b>Role:</b> <%= @user.role %> </li>
  <li> <b>Rating:</b> <%= @user.rating %></li>
  <span><%= link_to 'Edit', edit_user_path(@user), remote: true %></span>
</div>

<hr>

<h3>Viviendas Activas</h3>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Miembros</th>
      <th>Fecha creación</th>
    </tr>
  </thead>

  <tbody>
    <% @housings_actives.each do |housing| %>
    <tr>
      <td> <%= housing.name %> </td>
      <td>
        <% housing.users.each_with_index do |user_id, index| %>
          <li> <%= "Usuario #{index + 1}: #{user_id.email}" %> | <%= link_to 'Evaluar', rating_member_path(user_id.id), method: :get, remote: true %></li>
          <div id="form-rating-<%= user_id.id %>" ></div>
        <% end %>
      </td>
      <td><%= housing.created_at.strftime("%d-%m-%Y %H:%M") %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<h3>Viviendas Inactivas</h3>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Miembros</th>
      <th>Fecha inactiva</th>
    </tr>
  </thead>

  <tbody>
    <% @housings_inactives.each do |housing| %>
      <tr>
        <td> <%= housing.name %> </td>
        <td>
        <% housing.users.each_with_index do |user_id, index| %>
          <li> <%= "Usuario #{index + 1}: #{user_id.email}" %> </li>
        <% end %>
        </td>
        <td> <%= housing.inactive_at.strftime("%d-%m-%Y %H:%M") %> </td>
      </tr>
    <% end %>
  </tbody>

</table>