<div id="form"></div>

<div>
  <li id="user-<%= @user.id %>"> <b>Nombre:</b> <%= @user.name %></li>
  <li> <b>Email:</b> <%= @user.email %></li>
  <li> <b>Role:</b> <%= @user.role %> </li>
  <li> <b>Rating:</b> <%= @user.rating %></li>
  <span><%= link_to 'Edit', edit_user_path(@user), remote: true %></span>
</div>

<hr>

<h3>Viviendas Activas</h3>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Miembros</th>
      <th>Fecha creación</th>
    </tr>
  </thead>

  <tbody>
    <% @housings_actives.each do |housing| %>
    <tr>
      <td> <%= housing.name %> </td>
      <td>
        <% housing.users.each_with_index do |user_id, index| %>
          <li> <%= "Usuario #{index + 1}: #{user_id.email}" %> </li>
        <% end %>
      </td>
      <td><%= housing.created_at.strftime("%d-%m-%Y %H:%M") %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<h3>Viviendas Inactivas</h3>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Miembros</th>
      <th>Fecha inactiva</th>
    </tr>
  </thead>

  <tbody>
    <% @housings_inactives.each do |housing| %>
      <tr>
        <td> <%= housing.name %> </td>
        <td>
        <% housing.users.each_with_index do |user_id, index| %>
          <li> <%= "Usuario #{index + 1}: #{user_id.email}" %> </li>
        <% end %>
        </td>
        <td> <%= housing.inactive_at.strftime("%d-%m-%Y %H:%M") %> </td>
      </tr>
    <% end %>
  </tbody>

</table>