<% if user_signed_in? %>
  <% if @morning %>
    <h1>Hola! <%= @morning_say %>, <%= current_user.name %></h1>
    <% elsif @afternoon %>
      <h1>Hola! <%= @afternoon_say %>, <%= current_user.name %></h1>
    <% elsif @nigth %>
      <h1>Hola! <%= @nigth_say %>, <%= current_user.name %></h1>
  <% end %>
<% else %>
  <h1>¡Bienvenido a Chanchito Sano!</h1>
  <h6>Tener cuentas claras contigo mismo, nunca ha sido más sano.</h6>
  <%= image_tag 'chanchito.png', style: "width: 50%" %>
<% end %>
