<h1>Clasificaciones</h1>

<%= link_to 'Nueva clasificación', new_tag_path, class: "btn btn-success mb-3" %> | <%= link_to 'Volver', transactions_path, class: "btn btn-info mb-3" %>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Nombre</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= link_to 'Editar', edit_tag_path(tag), class: "btn btn-warning" %></td>
        <td><%= link_to 'Eliminar', tag, method: :delete, data: { confirm: 'Está seguro?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva clasificación', new_tag_path, class: "btn btn-success" %> | <%= link_to 'Volver', transactions_path, class: "btn btn-info" %>
