<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="text-center login pt-2">
    <h2>Iniciar sesi칩n</h2>

    <div class="field"><br>
      <%= f.label :email, "Correo electr칩nico" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div><br>

    <div class="field">
      <%= f.label :password, "Contrase침a" %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Recordarme" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Iniciar", class:"btn btn-success" %>
    </div><br>
  </div>

<div class="text-center pt-5">
  <div>
    <i>Si no tienes cuenta, puedes registrarte ac치</i><br>
    <%= link_to 'Registrarse', new_user_registration_path, class: "btn btn-primary", style:"border: 1px solid black" %>
  </div>
</div>
<% end %>

<%#= render "devise/shared/links" %>
