<h1>My Housings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User Admin</th>
      <th>Users Members</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @housings_actives.each do |housing| %>
      <tr>
        <td><%= housing.name %></td>
        <td><%= housing.user_email %></td>
        <td> member </td>
        <td><%= housing.status %></td>
        <td><%= link_to 'Show', housing %></td>
        <td><%= link_to 'Edit', edit_housing_path(housing) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Housing', new_housing_path %>
