<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :description, "Descripción" %>
    <%= form.text_field :description %>
  </div>

  <div class="form-group">
    <%= form.label :mount, "Monto" %>
    <%= form.number_field :mount %>
  </div>

  <div class="form-group">
    <%= form.label :date_transaction, "Fecha" %>
    <%= form.date_field :date_transaction %>
  </div>

  <div class="form-group">
    <%= form.label :type_transaction, "Tipo" %>
    <%= form.select :type_transaction, @type_transactions, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
<% end %>
