<div class="text-center align-center login">
  <%= form_with(model: transaction, local: true) do |form| %>

    <% if transaction.errors.any? %>
      <div id="alert" class="alert alert-danger alert-dismissable pt-1">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h2 > oh! oh! no se pudo crear el movimiento 🙁</h2>
        <ul>
          <% transaction.errors.full_messages.each do |message| %>
            <% if message == "Description can't be blank" %>
              <li><%= "Debes ingresar una descripción." %></li>
              <% elsif message == "Mount can't be blank" %>
              <li><%= "Debes ingresar un monto." %></li>
              <% elsif message == "Type transaction can't be blank" %>
              <li><%= "Debes escoger un tipo de movimiento." %></li>
              <% elsif message == "Housing can't be blank" %>
              <li><%= "Debes escoger una vivienda." %></li>
            <% else %>
              <li><%= message %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group mt-3">
      <b><%= form.label :housing_id, "Vivienda" %></b>
      <%= form.collection_select :housing_id, @housings_actives, :id, :name, {include_blank: true}, class: 'form-control' %>
    </div>

    <div class="form-group text-strong">
      <b><%= form.label :type_transaction, "Tipo" %></b>
      <%= form.select :type_transaction, @type_transactions, {include_blank: true}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <b><%= form.label :tag_id, "¿Alguna clasificación?" %></b>
      <%= form.collection_select :tag_id, Tag.all_tags, :id, :name, {include_blank: true}, class: 'form-control' %><br>
      <em>Ej: supermercado, agua, sueldo</em>
    </div>

    <div class="form-group">
      <b><%= form.label :description, "Descripción" %></b>
      <%= form.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <b><%= form.label :mount, "Monto" %></b>
      <%= form.number_field :mount, class: 'form-control' %>
    </div>

    <div class="form-group">
      <b><%= form.label :date_transaction, "Fecha" %></b>
      <%= form.date_field :date_transaction, value: Time.now.strftime("%Y-%m-%d"), class: 'form-control' %>
      <br>
    </div>

    <div class="actions mb-3">
      <%= form.submit "Guardar", class: "btn btn-success" %> | <%= link_to 'Volver', transactions_path, class: "btn btn-info" %>
    </div>
  <% end %>
</div>