<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Mount:</strong>
  <%= @transaction.mount %>
</p>

<p>
  <strong>Date transaction:</strong>
  <%= @transaction.date_transaction %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.type_transaction %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
