<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Monto:</strong>
  <%= number_to_currency(@transaction.mount, precision: 0) %>
</p>

<p>
  <strong>Fecha del movimiento:</strong>
  <%= @transaction.date_transaction %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @transaction.type_transaction %>
</p>

<%= link_to 'Volver', transactions_path, class: "btn btn-info" %>
