<!DOCTYPE html>
<html>
  <head>
    <title>Chanchito Sano | <%= params[:controller] %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('chanchito.png') %>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container pt-3">
      <% flash.each do | notice, value| %>
        <p id="alert" class="notice text-center alert alert-primary"><%= value %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
